<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>892082663814-mlpgg4oj9umf542m39t2hmbelagftke3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.892082663814-mlpgg4oj9umf542m39t2hmbelagftke3</string>
	<key>API_KEY</key>
	<string>AIzaSyDguzeU2v5eOHnfaVhtoXmmU5aFtVa-CH8</string>
	<key>GCM_SENDER_ID</key>
	<string>892082663814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.camby.DynamicLink</string>
	<key>PROJECT_ID</key>
	<string>dynamiclinkdemo-b6f12</string>
	<key>STORAGE_BUCKET</key>
	<string>dynamiclinkdemo-b6f12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:892082663814:ios:46160bc5fc73ab0165fc07</string>
</dict>
</plist>